extends layout

block content
  h1.title= title
  div.nav-bar
    button.test-btn#manifesto Manifesto
    button.test-btn#people People
    button.test-btn#projects Projects
  div.about
    p
    | LHS is a ragtag band of programmers from Lund, 
    | determined to create new things, useful and useless alike.