doctype 5
html
  head
    title= 'LHS'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lora', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')

  body
    div.image-header
      img(src="http://www.lhs.nu/logo.png", width=64, height=64)
    div#backronym.title
      a(href="/")= title
      block main-title

  block title

  div.nav
    a(href="/manifesto")#manifesto Manifesto
    a(href="/people")#people People
    a(href="/projects")#projects Projects
  block content
  
  script(src="/javascripts/jquery-1.10.2.min.js")
  script.
      $(function(){
        // Adds 'active' class to the selected page button.
        $('#' + location.pathname.split("/")[1]).addClass('highlight');
      });
  block scripts
  