doctype html
html
  head
    title= 'LHS'
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    link(rel='stylesheet', href='/uikit/css/uikit.min.css')
    link(rel='stylesheet', href='/uikit/css/uikit.almost-flat.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='http://fonts.googleapis.com/css?family=Lora', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')

    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

    script.
      (function(){"use strict";var c=[],f={},a,e,d,b;if(!window.jQuery){a=function(g){c.push(g)};f.ready=function(g){a(g)};e=window.jQuery=window.$=function(g){if(typeof g=="function"){a(g)}return f};window.checkJQ=function(){if(!d()){b=setTimeout(checkJQ,100)}};b=setTimeout(checkJQ,100);d=function(){if(window.jQuery!==e){clearTimeout(b);var g=c.shift();while(g){jQuery(g);g=c.shift()}b=f=a=e=d=window.checkJQ=null;return true}return false}}})();

  body
    div.image-header
      img(src="/images/logo.png", width=64, height=64)
    div#backronym.title
      a(href="/")= title
      block main-title

  block title

  div(style="width: 100% !important; max-width: 100% !important; margin: 30px 0").uk-container
    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
    div.uk-width-1-6.uk-container-center.uk-text-center.uk-push-1-4.nav
          a(href="/manifesto")#manifesto-large Manifesto
    div.uk-width-1-6.uk-container-center.uk-text-center.uk-push-1-4.nav
          a(href="/people")#people-large People
    div.uk-width-1-6.uk-container-center.uk-text-center.uk-push-1-4.nav
          a(href="/projects")#projects-large Projects
    </div>

    <div class="uk-grid uk-visible-small" data-uk-grid-margin>
    div.uk-width-1-1.uk-text-center
      div.uk-width-1-1.uk-container-center.nav
          a(href="/manifesto")#manifesto-small Manifesto
    div.uk-width-1-1.uk-text-center
      div.uk-width-1-1.uk-container-center.nav
          a(href="/people")#people-small People
    div.uk-width-1-1.uk-text-center
      div.uk-width-1-1.uk-container-center.nav
          a(href="/projects")#projects-small Projects
    </div>

  div.uk-margin-bottom
    block content
  
  script(src="/javascripts/jquery-1.10.2.min.js")
  script(src="/uikit/js/uikit.min.js")
  script.
      $(function(){
        // Adds 'active' class to the selected page button.
        $('#' + location.pathname.split("/")[1] + "-large").addClass('active');
        $('#' + location.pathname.split("/")[1] + "-small").addClass('active');
      });
  block scripts
  