doctype 5
html
  head
    title= 'LHS'
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
   div.title
    a(href="/")= title
    block main-title

  block title

  div.nav-bar
    button.test-btn#manifesto Manifesto
    button.test-btn#people People
    button.test-btn#projects Projects
  block content
  
  script(src="/javascripts/jquery-1.10.2.min.js")
  script.
      $(function(){
        // Attaches on-click functions.
        $("#projects").click(function() {
          window.location.replace('/projects');
        });
        $("#people").click(function() {
          window.location.replace('/people');
        });
        $("#manifesto").click(function() {
          window.location.replace('/manifesto');
        });

        // Adds 'active' class to the selected page button.
        $('#' + location.pathname.split("/")[1]).addClass('active');
      });
  block scripts
  