extends layout
block title
  h2.title= 'Manifesto'
block content
  div.manifesto
    h2 1. Continually and actively improve ourselves as programmers
    div.manifesto.item
      p
       | Accept what is, but do not be satisfied by it. Strive to improve your knowledge of 
       | your craft, to improve it through creating new things, doing research, collaborating, 
       | dissecting the code of others and in turn having yours dissected, taking part in 
       | discussions and generating them.
    h2 2. Create new things
    div.manifesto.item
      p
        | There are too many people wasting time, effort and creative energy by reinventing 
        | the wheel. Strive instead to seek out the inventions of others, to learn how they 
        | work, to use them in order to create new things. The giants are already out there, 
        | all you have to do is go stand on their shoulders.
    h2 3. Show and share our creations and what we learned during the process of creating them
    div.manifesto.item
      p
        | A thing is wasted if it isn’t shared. Actively discuss your creations with other 
        | people, exchange them,  give them away for free, sell them – anything but hoard them.
    h2 4. Facilitate human connections between programmers
    div.manifesto.item
      p
        | Programming as an occupation, a calling and a hobby is far too solitary for the 
        | benefit of anyone. Actively connect with other programmers, with creators in other 
        | fields. Discuss and dissect the similarities and differences between your 
        | approaches, philosophies, lifestyles. Connect with others,  life is too short and 
        | precious to be an isolated island.
