extends layout

block content
  div(style="width: 100% !important; max-width: 100% !important;").uk-container
    <div class="uk-grid" data-uk-grid-margin>
    div.uk-width-medium-1-1
      div.uk-panel.uk-panel-box.uk-width-medium-1-3.uk-container-center.manifesto-item
        h2.uk-text-center 1. Continually and actively improve ourselves as programmers
        p
          | Accept what is, but do not be satisfied by it. Strive to improve your knowledge of 
          | your craft, to improve it through creating new things, doing research, collaborating, 
          | dissecting the code of others and in turn having yours dissected, taking part in 
          | discussions and generating them.
    div.uk-width-medium-1-1
      div.uk-panel.uk-panel-box.uk-width-medium-1-3.uk-container-center.manifesto-item
        h2.uk-text-center 2. Create new things
        p
          | There are too many people wasting time, effort and creative energy by reinventing 
          | the wheel. Strive instead to seek out the inventions of others, to learn how they 
          | work, to use them in order to create new things. The giants are already out there, 
          | all you have to do is go stand on their shoulders.
    div.uk-width-medium-1-1
      div.uk-panel.uk-panel-box.uk-width-medium-1-3.uk-container-center.manifesto-item
        h2.uk-text-center 3. Show and share our creations and what we learned during the process of creating them
        p
          | A thing is wasted if it isn’t shared. Actively discuss your creations with other 
          | people, exchange them,  give them away for free, sell them – anything but hoard them.
    div.uk-width-medium-1-1
      div.uk-panel.uk-panel-box.uk-width-medium-1-3.uk-container-center.manifesto-item
        h2.uk-text-center 4. Facilitate human connections between programmers
        p
          | Programming as an occupation, a calling and a hobby is far too solitary for the 
          | benefit of anyone. Actively connect with other programmers, with creators in other 
          | fields. Discuss and dissect the similarities and differences between your 
          | approaches, philosophies, lifestyles. Connect with others,  life is too short and 
          | precious to be an isolated island.
    </div>
    

block scripts
  script(src="/javascripts/projectfunctions.js")
