extends layout

mixin memberduo(mema, memb)
    if (mema)
      span.member
        a(href = mema.github).button.medium.black
          span #{mema.name}
    if (memb)
      span.member
        a(href = memb.github).button.medium.black
          span #{memb.name}


block content
 div.mainpage
   div.member-area
     - for (var x = 0; x < members.length; x+=2)
       +memberduo(members[x], (x + 1) < members.length ? members[x+1] : null);
