extends layout

block content
  div.mainpage
      span.project
        a.button.large.red
          span Karmakontot
      span.project
        a.button.large.green
          span Scrotbox
      span.project
        a.button.large.blue
          span Backronymgen