extends layout

block content
 div.mainpage
  div.member-area
    div.project
      p Karmakontot
    div.project
      p Scrotbox
    div.project
      p Backronymgen
      
block scripts
 script(src="/javascripts/projectfunctions.js")