// COLOR PALETTE
@nice-blue: #57d6c7;
@light-blue: (@nice-blue - #111);

@nice-red: #ff0030;
@dark-red: (@nice-red - #222);

@silver: silver;
@dark-silver: (@silver - #222);

@bg: #2b2b2b;
@bg-plus: (@bg + #111);


// MIXINS
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.transition(@targ: all; @time: 0.3s; @ttype: ease) {
	-webkit-transition: @targ @time @ttype;
  	-moz-transition: @targ @time @ttype;
  	-ms-transition: @targ @time @ttype;
	-o-transition: @targ @time @ttype;
  	transition: @targ @time @ttype;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: #000) {
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.inset-box-shadow (@x: 0; @y: 0; @blur: 1px; @color: #000) {
  -moz-box-shadow: inset @arguments;
  -webkit-box-shadow: inset @arguments;
  box-shadow: inset @arguments;
}

.selection(@type: none){
	-webkit-user-select: @type;
    -khtml-user-select: @type;
    -moz-user-select: @type;
    -ms-user-select: @type;
    user-select: @type;
}

// STYLES
.image-header {
	margin: 0 auto;
	margin-top: 5%;

	max-width: 64px;
	max-height: 64px;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @bg;
}

// BACKRONYM-TITLE STYLE
#backronym a {
    text-decoration: none;
    word-wrap: normal;
    outline: 0;
  
    font-size: 48px;

     @media screen and (max-width:310px) { 
        font-size: 99px;
    }
	
	font-weight: bold;

	color: (#FFFFFF - #050505) !important;
	text-shadow: 0px 2px 3px @bg-plus;
	font-family: 'Lora', serif;

	&:hover {
		color: #777777;
		text-shadow: 0px 2px 3px @bg-plus;
	}
	&:visited {
		color: #777777;
		text-shadow: 0px 2px 3px @bg-plus;
	}
	&:active {
		color: #777777;
		text-shadow: 0px 2px 3px @bg-plus;
	}
}

.nav a {
    color: #AAA; 
    font-family: 'Lora'; 
    font-size: 2em;
    outline: 0;

    .transition(all, 0.1s, ease-in);

    &:hover {
        color: #FFF;

    }
    
    &.active {
        color: #FFF;
    }
}

.title {
	text-align: center;

	max-width: 1024px;
	margin: 50px auto;
	padding: 10px;

	text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;  
}


.about {
	.rounded-corners(10px);
	
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-weight: 400;

	color: (#FFFFFF - #050505);
	background-color: @nice-red;

	font-size: 24px;
	
	border: 2px dashed white;
	box-shadow: 0 0 0 4px @nice-red, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

    & p {
        margin: 4px 4px;
    }
}

.member-area {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
}

.member-name {
	text-align: left;
	font-weight: 700;
	font-style: bold;
	font-size: 32px;
	color: gold;
	padding-bottom: 15px;
}

.member-desc {
	text-align: left;
	color: white;
}

.project {
	background-color: @bg;
    color: white;

    & a, h1 {
        color: gold !important;
        font-family: 'Lora';
    }

    & .desc {
        // nothing here yet :)
    }

    & .authors {    
        // nothing here yet :)
    }
}

.error-page {
  background-color: @bg;
  text-align: center;
  color: white;

  & h1 {
    color: gold;
    font-family: 'Lora';
  }

  & a {
    color: gray !important;
  }
}

.manifesto-item {
    background-color: @bg;
    color: white;
    cursor: pointer;

    & h2 {
        color: gold;
        font-family: 'Lora';
    }

    &:hover {
        background-color: @bg-plus;
    }
}
